/*“≥√Ê≥ı ºªØ*/
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.clear{
    clear: both;
}
body{
    background: #f0eeee;
}

/*header*/
.header{
    width: 100%;
    background: #000000;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}
.logo{
    float: left;
    margin-left: 35px;
    margin-right: 300px;
}
.header .nav{
    float: left;
    text-align: center;
    line-height: 61px;
}
.header .nav li{
    float: left;
    margin-right: 40px;
}
.header .nav li a{
    color: white;
}
.header .nav li .bkb{
    color: red;
}
.denglu{
    float: right;
    margin-right: 50px;
}
.denglu img{
    float: left;
    padding-top: 16px;
    margin-right: 15px;
}
.denglu a{
    color: #b7b7b7;
    line-height: 60px;
    margin: 0 5px;
    font-size: 14px;
}
.denglu .bianse{
    color: red;
}

/*banner*/
.banner{
    width: 100%;
    height: 600px;
    position: relative;
}
.banner ul{
    width: 400%;
}
.banner .icon li{
    width: 25%;
    position: relative;
    overflow: hidden;
    height: 600px;
    float: left;
    display: none;
}
.banner li img{
    width: 1920px;
    height: 600px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
}
.dian{
    height: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -36px;
}
.dian li{
    width: 8px;
    height: 8px;
    background: #979a9f;
    float: left;
    margin-right: 10px;
}
.banner .dian .yanse{
    width: 9px;
    height: 9px;
    background: red;
    border-radius: 50%;
}

/*main*/
.main{
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}
.main_top{
    height: 90px;
    background: white;
    padding-top: 16px;
}
.box{
    margin: 0 30px;
    height: 30px;
    border-bottom: 1px solid #9798ac;
    padding-bottom: 10px;
}
.box2{
    margin: 0 30px;
    margin-top: 15px;
}
.main_top li{
    float: left;
    margin-right: 12px;
    padding-left: 12px;
    border-left: 1px solid #9798ac;
}
.main_top li a{
    color:#9798ac;
    font-size: 14px;
}
.main_top a:hover{
    color: #e8380d;
}

.main_center{
    margin-top: 10px;
}
.main_center img{
    width: 240px;
    height: 240px;
}
.main_center li div{
    width: 240px;
    height: 240px;
    overflow: hidden;
    margin: 0 auto;
}
.btn li{
    width: 292px;
    height: 300px;
    float: left;
    margin: 0 4px 10px;
    background: white;
    text-align: center;
    position: relative;
}
.main_center a{
    color: #6e6d5b;
    font-size: 14px;
    display: block;
}
.main .main_center li .yanse1{
    color: #f83311;
}
.main_center p{
    color: #6e6d5b;
    font-size: 14px;
    display: block;
}
.main_center span{
    width: 55px;
    height: 25px;
    border: 1px solid #d0d6d6;
    display: none;
    padding-left: 13px;
    line-height: 25px;
    font-size: 14px;
    background: url("../images/bg.jpg")no-repeat 5px center;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 999;
}


/*footer*/
.footer_top{
    width: 100%;
    padding: 40px 0;
    background: white;
}
.footer_top h2{
    width: 1050px;
    margin: 0 auto;
    padding-left: 150px;
    font-size: 14px;
    height: 30px;
    color: black;
    font-weight: 500;
    padding-top: 20px;
    border-top: 1px solid #b2b0be;
    margin-bottom: 20px;
    background: url("../images/nbproftlogo.jpg")no-repeat 135px 22px;
}
.footer_top ul{
    width: 1065px;
    margin: 0 auto;
    padding-left: 135px;
}
.footer_top p{
    color: black;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer_top a{
    display: block;
    color: #a89a9a;
    font-size: 13px;
    line-height: 25px;
}
.footer_top a:hover{
    color: #e8380d;
}
.footer_top li{
    float: left;
    margin-right: 100px;
}

.footer{
    width: 100%;
    padding-bottom: 60px;
    margin-top: 98px;
    border-top:3px solid #eeeeee;
    background: white;
}
.footer_inner{
    width: 1150px;
    margin: 0 auto;
    padding-top: 30px;
}
.footer_nav{
    float: left;
    margin-top: 5px;
}
.footer_nav li{
    float: left;

}
.footer_nav li a{
    font-size: 10px;
    color: #b2b0be;
    padding: 0 13px;
    border-left: 1px solid #b2b0be;
}
.bg{
    background: url("../images/footer.bg.jpg") no-repeat right bottom;
}
.footer_nav li a:hover{
    color: black;
}

.footer_right{
    float: right;
    width: 450px;
    line-height: 31px;
    margin-left: 25px;
}
.footer_right ul{
    float: left;
    margin-right: 15px;
}
.footer_right p{
    color: #d0d6d6;
    font-size: 18px;
}
.footer_right li{
    float: left;
    width: 32px;
    height: 31px;
    margin: 0 7px;
}
.pic1{
    background: url("../images/footer01.jpg") no-repeat;
}
.pic2{
    background: url("../images/footer02.jpg") no-repeat;
}
.pic3{
    background: url("../images/footer03.jpg") no-repeat;
}
.pic4{
    background: url("../images/footer04.jpg") no-repeat;
}
.footer .footer_right .tu1{
    background: url("../images/pic444.png") no-repeat;
}
.footer .footer_right .tu2{
    background: url("../images/pic111.png") no-repeat;
}
.footer .footer_right .tu3{
    background: url("../images/pic222.png") no-repeat;
}
.footer .footer_right .tu4{
    background: url("../images/pic333.png") no-repeat;
}

.footer .txt{
    color: #cccec9;
    font-size: 10px;
    margin-top: 10px;
}
.footer .txt span{
    color: #928d8a;
    font-weight: bold;
    cursor: pointer;
}
.footer .txt span img{
    margin-bottom: -5px;
}
.footer .txt a{
    color: #cccec9;
}
.footer .txt a:hover{
    color: black;
}